// Media Queries

$tablette : 850px;
$mobile : 520px;

// Colors

$pink : #FF6060;
$gray : #F6F6F6;
$grayStar : #E3E3E3;

#root {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-family: montserrat;
    gap: 50px;
}

@media (max-width: $mobile) {
    #root {
        gap: 27px;
    }
}