@import '../sass/main.scss';

.About {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;

    .AboutMain {
        padding: 0 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: $mobile) {
    .About {
        gap: 27px;

        .AboutMain {
            padding: 0 5vw;
        }
    }
}