@import '../sass/main.scss';

.bannergallery_container {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

@media (max-width: $mobile) {
    .bannergallery_container {
        gap: 22px;
    }
}