@import '../sass/main.scss';

.divfourofour {
    display: flex;
    flex-direction: column;
    gap: 140px;

    .notfound_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 140px;
        color: $pink;

        .fourofour {
            font-size: 288px;
            font-weight: 700;
            font-family: montserrat;
            text-align: center;
            padding: 0;
            margin: 0;
            height: 263px;
            display: flex;
            align-items: center;
        }

        .message {
            font-size: 36px;
            text-align: center;
            text-wrap: balance;
            margin: 0 10vw;

        }


        a {
            all: unset;
            font-size: 18px;
            color: $pink;
            text-decoration: underline;
            word-wrap: normal;

        }
    }
}

@media (max-width: $mobile) {
    .divfourofour {
        gap: 113px;

        .notfound_container {
            gap: 113px;

            .fourofour {
                font-size: 96px;
            }

            .message {
                font-size: 18px;
            }

            a {
                font-size: 14px;
            }
        }
    }
}