.banner_container{
    width: 80vw;
    height: 50px;
    padding: 50px;
    margin: 25px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        position: absolute;
        text-align: center;
    }
    img{
        width: 80%;
    }
}