.coll_container {
    color: white;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 15px;
    margin-bottom: 30px;

    .coll_content {
        display: grid;
        overflow: hidden;
        grid-template-rows: 0fr;
        background-color: #F6F6F6;
        transition: grid-template-rows 0.3s;

        div {
            overflow: hidden;
            background-color: #F6F6F6;

            .coll_text {
                color: #FF6060;
            }
        }
    }

    h4 {
        background-color: #FF6060;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
        border-radius: 5px;
        margin: 0px;
    }

    .arrow {
        transition: transform 0.3s ease;
    }
}

.coll_container.show {
    .coll_content {
        transition: grid-template-rows 0.3s;
        grid-template-rows: 1fr;
        position: relative;
        top: -1px;
        z-index: -1;
    }

    .arrow {
        transform: rotate(-180deg);
    }
}