.footer {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 66px 0 29px;
    margin-top: auto;
    gap: 26px;

    .copyright {
        color: white;
        margin: 0;
    }

    .logo_white {
        filter: brightness(10);
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 66px 0 58px;
        .copyright {
            font-size: 12px;
            width: 120px;
        }
    }
}