@import '../sass/main.scss';

.gallery_container {
    position: relative;
    grid-gap: 50px 60px;
    padding: 56px 50px 43px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    background-color: $gray;
    grid-template-columns: repeat(3, 1fr);
    z-index: 0;
    border-radius: 25px;
}

@media (max-width: $tablette) {
    .gallery_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: $mobile) {
    .gallery_container {
        grid-template-columns: repeat(1, 1fr);
        background-color: inherit;
        padding: 0;
    }
}