@import '../sass/main.scss';

.nav_global {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 5vw 0;

    nav {
        display: flex;
        gap: 57px;

        a {
            all: unset;
            font-size: 24px;
            color: $pink;
        }

        .sous {
            text-decoration: underline;
        }

    }
}

@media (max-width: $mobile) {
    .nav_global {
        margin: 20px 5vw 0;

        .logo {
            width: 145px;
        }

        nav {
            gap: 26px;

            a {
                font-size: 12px;
            }
        }
    }
}