@import '../sass/main.scss';

.constel {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 20px;

    .fa-star {
        font-size: 36px;
    }

    .red {
        color: $pink;
    }

    .grey {
        color: $grayStar;
    }
}

@media (max-width: $mobile) {
    .constel {
        .fa-star {
            font-size: 18px;
        }
    }
}